@use '@/styles/mixins/utils';

.btn {
  --lp-content: var(--s-uxs);
  --l-radius: var(--s-xxs);
  --lc-bg: var(--l-color);
  --lw-border: 2px;
  --lc-border: var(--l-color);
  --lc-label: var(--c-invert);
  --lc-hover: var(--c-black);
  --ls-icon: var(--s-lg);

  appearance: none;
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
  min-width: var(--lw);
  height: var(--lh);
  min-height: var(--lh);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--lp-inline);
  border: var(--lw-border) solid var(--lc-border);
  border-radius: var(--l-radius);
  background: var(--lc-bg);
  text-decoration: none;
  color: var(--lc-label);
  transition: var(--transition-025);
}

.btn:focus {
  outline: none;
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn:focus-visible {
  @include utils.focus-visible;
}

.btn:not(.outline, .ghost):hover {
  --lc-border: var(--lc-hover);
  --lc-bg: var(--lc-hover);
}

.btn:active {
  scale: 0.96;
}

// Content
.content {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: var(--l-icon-position);
  justify-content: center;
  align-items: center;
  transition:
    margin-bottom 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Icon
.icon {
  width: var(--ls-icon);
  min-width: var(--ls-icon);
  height: var(--ls-icon);
  min-height: var(--ls-icon);
  fill: var(--lc-label);
  transition: var(--transition-025);
}

// Label
.label {
  padding-inline: var(--lp-content);
  font-size: var(--lfs-label);
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--lc-label);
  transition: var(--transition-025);
}

// Loader
.wrapLoader {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// If size tr
.tr {
  --lh: var(--s-tr);
  --lp-inline: var(--s-xl);
  --lfs-label: var(--fs-df);
}

// If size big
.big {
  --lh: var(--s-big);
  --lp-inline: var(--s-xl);
  --lfs-label: var(--fs-df);
}

// If size db
.db {
  --lh: var(--s-db);
  --lp-inline: var(--s-sm);
  --lfs-label: var(--fs-md);
}

// If size xxl
.xxl {
  --lh: var(--s-xxl);
  --ls-icon: 1rem;
  --lp-inline: var(--s-sm);
  --lfs-label: var(--fs-md);
  --l-radius: var(--s-us);
}

// If size df
.df {
  --lh: 1rem;
  --ls-icon: 1rem;
  --lp-inline: var(--s-xxs);
  --lfs-label: var(--fs-sm);
}

// If theme fill
.fill {
  --lw: var(--l-w-min);
}

// If theme outline
.outline {
  --lw: var(--l-w-min);
  --lc-bg: none;
  --lc-label: var(--l-color);
}

.outline:hover {
  --lc-bg: var(--lc-hover);
  --lc-label: var(--c-invert);
}

// If theme text
.text {
  --lw: fit-content;
  --lc-label: var(--l-color);
  --lw-border: 0rem;

  gap: var(--lp-content);
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  text-decoration: underline;

  .label {
    padding: 0;
  }
}

.text:hover {
  --lc-label: var(--lc-hover);
}

.text:focus-visible {
  border-radius: var(--s-uxxs);
}

// If theme ghost
.ghost {
  --lc-bg: color-mix(in srgb, var(--l-color), transparent 95%);
  --lc-border: none;
  --lc-label: var(--l-color);
}

.ghost:hover {
  --lc-bg: var(--lc-hover);
  --lc-label: var(--c-invert);
}

// If onlyIcon
.onlyIcon {
  --lp-inline: 0rem;
  --lw: var(--lh);

  width: var(--lw);
}

// If loading
.btn[data-loading] .content {
  pointer-events: none;
  opacity: 0;
  margin-bottom: calc((var(--lh) - var(--lw-border)) * -1);
}

// If disabled
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
