.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  color: #1f2937;
}

.previewGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.previewBox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  aspect-ratio: 1;
}

.outerLabel {
  margin-bottom: auto;
  font-weight: 600;
  font-size: 0.875rem;
}

.innerBox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  aspect-ratio: 1;
}

.innerLabel {
  font-weight: 600;
  font-size: 0.75rem;
}

@media (width <= 600px) {
  .previewGrid {
    grid-template-columns: 1fr;
  }
}
