@use '@/styles/mixins/media';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--s-df);

  @include media.media(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 3/2;
  gap: var(--s-xxl);
  padding: var(--s-xxs);
  border-radius: var(--s-sm);
}

.box > div {
  width: 85%;
  align-self: flex-end;
  padding: var(--s-xxs);
  border-radius: var(--s-xxs);
  aspect-ratio: 3/2;
}
