@use '@/styles/mixins/utils';

.color {
  width: 100%;
  height: 7.5rem;
  position: relative;
  border-radius: var(--s-df);
}

.color > * {
  text-transform: uppercase;
}

.code {
  min-height: 5rem;
  position: relative;
  padding: var(--s-df);
  border-radius: var(--s-df);
  background-color: var(--c-dark-2);
  font-family: var(--ff-main);
  font-size: var(--fs-md);
  line-height: 1.5;
  word-break: break-all;
  white-space: pre-wrap;
  color: var(--c-light);
}

.copy {
  appearance: none;
  cursor: pointer;
  overflow: hidden;
  width: var(--s-xxl);
  height: var(--s-xxl);
  display: flex;
  position: absolute;
  top: var(--s-xxs);
  right: var(--s-xxs);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--s-us);
  background: color-mix(in oklch, var(--c-black), transparent 80%);
  transition: var(--transition-025);
}

.code .copy {
  background: color-mix(in oklch, var(--c-light), transparent 90%);
}

.copy:focus {
  outline: none;
}

.copy::-moz-focus-inner {
  border: 0;
}

.copy:focus-visible {
  @include utils.focus-visible;
}

.copy:active {
  scale: 0.96;
}

.copy:hover {
  background: var(--c-accent);
}
