.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-df);
  padding: var(--s-sm);
  outline: none;
  border-radius: var(--s-xxs);
  background-color: var(--c-invert);
  box-shadow: var(--sw-dp4);
  transform-origin: var(--l-transform-origin);
}

.children {
  width: calc(var(--l-w) - (var(--s-sm) * 2));
}

// If open
.open {
  opacity: 0;
}

// IF showParent
.content.showParent {
  margin-top: var(--s-uxs);
}
